- const filters = [{"icon": "/assets/img/filters/shirt.svg"},{"icon": "/assets/img/filters/boots.svg"},{"icon": "/assets/img/filters/diamond.svg"},{"icon": "/assets/img/filters/food.svg"},{"icon": "/assets/img/filters/paw.svg"},{"icon": "/assets/img/filters/makeup.svg"},{"icon": "/assets/img/filters/health.svg"},{"icon": "/assets/img/filters/computer.svg"},{"icon": "/assets/img/filters/wand.svg"},{"icon": "/assets/img/filters/card.svg"},{"icon": "/assets/img/filters/sim.svg"}];

.filter
  .filter__block.filter-list.sales-index__filters
    each filter in filters
      a.icon.filter-list__item.sales-index__filters-item(href='/')
        img(src= filter.icon)

  .filter__block._selects
    .__select(data-state="")
      .__select__title= 'Этаж'
      .__select__content
        input.__select__input(type='radio', name='floor', data-value='Option 0', checked)
        label.__select__label= 'Этаж 1'
        input.__select__input(type='radio', name='floor', data-value='Option 1')
        label.__select__label= 'Этаж 2'
    .__select(data-state="")
      .__select__title= 'Для всех'
      .__select__content
        input.__select__input(type='radio', name='for', data-value='Option 0', checked)
        label.__select__label= 'Для взрослых'
        input.__select__input(type='radio', name='for', data-value='Option 1')
        label.__select__label= 'Для детей'
        input.__select__input(type='radio', name='for', data-value='Option 1')
        label.__select__label= 'Для животных'

  .filter__block
    label.checkbox
      input(type='checkbox')
      span
      |Акции и скидки