- const aboutSlider = [{"img": "/assets/img/about-index/1.png"},{"img": "/assets/img/about-index/2.png"},{"img": "/assets/img/about-index/3.png"},{"img": "/assets/img/about-index/1.png"},{"img": "/assets/img/about-index/2.png"},{"img": "/assets/img/about-index/3.png"},{"img": "/assets/img/about-index/1.png"},{"img": "/assets/img/about-index/2.png"},{"img": "/assets/img/about-index/3.png"},{"img": "/assets/img/about-index/1.png"},{"img": "/assets/img/about-index/2.png"},{"img": "/assets/img/about-index/3.png"},{"img": "/assets/img/about-index/1.png"},{"img": "/assets/img/about-index/2.png"},{"img": "/assets/img/about-index/3.png"}];
- const photoSlider = [{"img": "/assets/img/photo/1.png"},{"img": "/assets/img/photo/2.png"},{"img": "/assets/img/photo/3.png"},{"img": "/assets/img/photo/1.png"},{"img": "/assets/img/photo/2.png"},{"img": "/assets/img/photo/3.png"},{"img": "/assets/img/photo/1.png"},{"img": "/assets/img/photo/2.png"},{"img": "/assets/img/photo/3.png"},{"img": "/assets/img/photo/1.png"},{"img": "/assets/img/photo/2.png"},{"img": "/assets/img/photo/3.png"},{"img": "/assets/img/photo/1.png"},{"img": "/assets/img/photo/2.png"},{"img": "/assets/img/photo/3.png"}];

mixin nav-item(title, link)
  li
    a(href=link)= title

mixin phone(className)
  a(href='tel:84845840910', class=className)= '8 48458 4 09 10'

mixin email(className)
  a(href='mailto:tc-obnimi@mail.ru', class=className)= 'tc-obnimi@mail.ru'

mixin advantages(className)
  .advantages(class= className)
    .advantages__item
      .advantages__item-icon
        include ../../assets/img/icons/advantages/1.svg
      .advantages__item-text= 'Первый ТЦ в Обнинске с развитой сервисной составляющей для семейных покупателей'
    .advantages__item
      .advantages__item-icon
        include ../../assets/img/icons/advantages/2.svg
      .advantages__item-text= 'Уникальные сервисы для всей семьи (заказ такси, точка проката велосипедов, детские наборы, станции для зарядки мобильных телефонов, буккросинг и др.)'
    .advantages__item
      .advantages__item-icon
        include ../../assets/img/icons/advantages/3.svg
      .advantages__item-text= 'Просторный, современный ТЦ с одним из самых больших гипермаркетов в городе'
        
mixin about-slider(className)
  .swiper-container.about-slider(class= className)
    .swiper-wrapper
      each slide in aboutSlider
        .swiper-slide.about-slider__item
          .about-slider__image
            img(src=slide.img)
          a.about-slider__description(href='/')
            | Открытие ТЦ Обними,
            br
            | июнь 2019
    .about-slider__nav
      .swiper-button-prev._prev.about-slider__arrow
        include ../../assets/img/icons/slider-arow-left.svg
      .about-slider__scroll
        .swiper-scrollbar
      .swiper-button-next._next.about-slider__arrow
        include ../../assets/img/icons/slider-arow-right.svg

mixin photo-slider(className)
  .swiper-container.about-slider(class= className)
    .swiper-wrapper
      each slide in photoSlider
        .swiper-slide.about-slider__item
          .about-slider__image
            img(src=slide.img)
    .about-slider__nav
      .swiper-button-prev._prev.about-slider__arrow
        include ../../assets/img/icons/slider-arow-left.svg
      .about-slider__scroll
        .swiper-scrollbar
      .swiper-button-next._next.about-slider__arrow
        include ../../assets/img/icons/slider-arow-right.svg